   <div class="row">
    <div class="mb-3">

      <input class="form-control" type="text" id="formFile" placeholder="¿ Que estas buscando ?">
    </div>
  </div>
  <div id="carouselExampleCaptions" class="carousel slide border size-carousel-product mb-4" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../../../../assets/backpng.png" class="d-block image-carrousel-products" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Promociones</h5>
          <p>Aprovecha las promoiciones especiales.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="../../../../assets/montacargabanner.jpg" class="d-block image-carrousel-products" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="../../../../assets/montacarga.jpg" class="d-block image-carrousel-products" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Promociones en repuestps</h5>
          <p>Aprovecha los descuentos especiales que tenemos por hoy</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container">  
    <div class="row">
      <div *ngFor="let product of products" class="col-sm-4 product-home">
        <div class="card" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="loadProduct(product)">
          <img src="../../../../assets/montacarga.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">{{ product.description }} </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> precio: {{ product.price | currency }} <button
                class="btn  btn-outline-secondary btn-sm">Comprar</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" *ngIf="selectedProduct">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ selectedProduct.name }} </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row mb-2 p-2">
            <div class="col-sm-2">
              <div class="p-2">
                <div class="row border grid-product">
                  <img src="../../../../assets/montacarga.jpg" alt="Imagen del prodcto" class="image-product">
                </div>
                <div class="row border grid-product">
                  <img src="../../../../assets/montacarga.jpg" alt="Imagen del prodcto" class="image-product">
                </div>
                <div class="row border grid-product">
                  <img src="../../../../assets/montacarga.jpg" alt="Imagen del prodcto" class="image-product">
                </div>
              </div>
            </div>
            <div class="col-sm-6 p-2">
              <img src="../../../../assets/montacarga.jpg" alt="Imagen del prodcto">
            </div>
            <div class="col-sm-4 p-2">
              <div class="border border-1 rounded p-2 row gap-1">
                <h4>{{ selectedProduct.price | currency}} </h4>
                <span class="text-success"> Disponible</span>
                <span class="text-danger"> No disponible</span>
                <div> Estado : Nuevo | Usado</div>
                <div class="col-sm-5"> <span> Cantidad</span></div>
                <div class="col-sm-3"> <input class="form-control form-control-sm" type="number" /></div>
                <small>Disponibles en stock 43</small>
  
                <button type="button" class="btn btn btn-outline-primary col-sm-10" (click)="addToCart(selectedProduct)" data-bs-dismiss="modal">Agregar al carrito</button>
                <br>
                <button type="button" class="btn btn btn-outline-success col-sm-10" routerLink="/products/payment"
                  data-bs-dismiss="modal">Comprar ya</button>
  
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <h5>Caracteristicas</h5>
            <div class="p-5">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"> Marca: {{ selectedProduct.brand }} </li>
                <li class="list-group-item"> Estado: {{ selectedProduct.new }}</li>
                <li class="list-group-item"> Referencia: {{ selectedProduct.reference }}</li>
                <li class="list-group-item"> ID: {{ selectedProduct.id }}</li>
                <li class="list-group-item"> Dimensiones: {{ selectedProduct.size }}</li>
              </ul>
            </div>
            <div>
              <h5>Descripcion</h5>
              <p> {{ selectedProduct.description}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>